In [ ]:
A, K, U, R, F = map(int, input().split())

if A > 80:
  print("Ambatron Lulus!")

if K > 80:
  print("Kumala lulus!")

if U > 80:
  print("Ucok lulus!")

if R > 80:
  print("Rehan lulus!")

if F > 80:
  print("Farhan lulus!")

In [ ]:
N = input()
pola = ['#','#','*','*']
hasil = ''

for i, char in enumerate(N):
  hasil += pola[i % len(pola)]

print(hasil)

akakak
##**##

In [ ]:
N = int(input())
M = int(input())

for i in range(N):
  for j in range(M):
    if (i + j) % 2 == 0:
      print('**', end='')
    else :
      print('##', end='')
  print()

SyntaxError: expected ':' (ipython-input-3987395103.py, line 5)

In [ ]:
N = str(input())
pola_ganjil = ['#', '*']
pola_genap = ['*', '#']
hasil = ''

for i, char in enumerate(N):
  if len(N) % 2 == 0 :
    hasil += pola_genap[i % len(pola_genap)]
  else :
    hasil += pola_ganjil[i % len(pola_ganjil)]
print(hasil)

aaaaa
#*#*#

In [ ]:
N = int(input())
M = int(input())

for i in range(N):
  for j in range(M):
    if (i + j) % 2 == 0:
      print('*', end='')
    else :
      print('#', end='')
  print()

2
3
*#*
#*#

In [ ]:
a = 2
b = 3
c = -1
Z = a * a + b - c
print(Z)

8

In [ ]:
nama = "Zakiye"
usia = "19"
print(f"Nama saya {nama}")
print(f"Usia saya {usia} tahun")

Nama saya Zakiye
Usia saya 19 tahun

In [ ]:
anggur = 1000
apel = 6000
jeruk = 2000
total_belanja = 3*apel + jeruk + 2*anggur
print(total_belanja)

22000

In [ ]:
mangga = 3000
melon = 10000
anggur = 3000
uang_abdan = 20000
total_belanja = mangga + melon + anggur
kembalian = uang_abdan - total_belanja
print(kembalian)

4000

In [ ]:
N = int(input())

for i in range(N+1):
  print('#' * i)

3

#
##
###

In [ ]:
N = int(input())

for i in range(1, N+1):
  for j in range(1, i+1):
    print(j, end='')
  print()

3
1

1
2

1
2
3

In [ ]:
N = int(input())

for i in range(1, N+1):
  for j in range(1, i+1, 1):
    print(j, end='')
  print()

3
1
12
123

In [ ]:
N = int(input())

for i in range(N, 0, -1):
  for j in range(1, i+1):
    print(j, end='')
  print()

3
123
12
1

In [ ]:
N = int(input())

for i in range(N, 0, -1):
  for j in range(i, 0, -1):
    print(j, end='')
  print()

3
321
21
1

In [ ]:
N = int(input())

for i in range(N):
  jumlah_baris = int(input())
  segitiga = []
  for j in range(jumlah_baris):
    baris = list(map(int, input().split()))
    segitiga.append(baris)

    if len(segitiga[j]) != j+1:
      break
  for k in range(jumlah_baris - 2, -1, -1):
    for m in range(len(segitiga[k])):
      segitiga[k][m] += max(segitiga[k+1][m], segitiga[k+1][m+1])

    print(segitiga[0][0])

1
3
1
1 2
1 3 4
1
7

In [ ]:
a = ['1', '2', '3']

for i in range(len(a)-1, -1, -1):
  print(a[i])

3
2
1

In [ ]:
a = int(input())
c = int(input())

b = c / a

print(b)

2
6

NameError: name 'b' is not defined

In [ ]:
x = int(input())

perfect_fences_sebelumnya = 0
perfect_fences_sekarang = None

for i in range(1,33):
  val = 2**i-1
  if val >= x:
    perfect_fences_sekarang = val
    break
  perfect_fences_sebelumnya = val

selisih_sebelumnya = abs(x - perfect_fences_sebelumnya)
selisih_sekarang = abs(x - perfect_fences_sekarang)

if x == perfect_fences_sekarang or x == perfect_fences_sebelumnya:
  print("It's the perfect amount, nice!")
elif x > perfect_fences_sebelumnya and x < perfect_fences_sekarang:
  if selisih_sebelumnya < selisih_sekarang:
    print(f"Maybe it's better to remove {selisih_sebelumnya} fences, just to be perfect")
  else:
    print(f"Maybe it's better to add {selisih_sekarang} fences, just to be perfect")

2056
Maybe it's better to remove 9 fences, just to be perfect

In [ ]:
berat = int(input())

if berat % 2 == 0 and berat > 2 :
  print("YES")
else :
  print("NO")

4
YES

In [ ]:
soal = int(input())

count = 0

for i in range(soal):
  petya, vasya, tonya = map(int, input().split())

  petya = bool(petya)
  vasya = bool(vasya)
  tonya = bool(tonya)

  if petya + vasya + tonya >= 2 :
    count += 1

print(count)

3
1 1 0
0 0 1
0 0 0
1

In [ ]:
jumlah_kata = int(input())

for i in range(jumlah_kata):
  kata = input()
  if len(kata) > 10 :
    print(kata[0] + str(len(kata) - 2) + kata[-1])
  else :
    print(kata)

4
wrod
wrod
localization
l12n
ajhdhad
ajhdhad
hgadhjgadygayg
h14g

In [ ]:
for i in range (-99, 100) :
  angka = int(input())
  if angka < -100 and angka > 100:)
    break
  if angka == 42 :
    break
  print (angka)

-101
-101
42

In [ ]:
n = int(input())

for i in range(n):
  jumlah_baris_segitiga = int(input())
  angka_segitiga = []

2
3
1
1 2
1 2 3

ValueError: invalid literal for int() with base 10: '1 2 3'

In [ ]:
x1, x2 = map(int, input().split())

if x1 * x2 % 2 == 0 :
  print("even")
else :
  print("odd")

1 21
odd